@charset "ISO-8859-1";
*{
	margin: 0;
	padding: 0;
	
}

html, body {
  font-family: sans-serif;
  
}

/****************************************************/
/*styles pour le conteneur                             */
/****************************************************/
.conteneur{
	margin: 0px;
	padding: 0px;
	width: 100%
	font-size: 10px;
	background-color: #757575;
}

/****************************************************/
/*styles pour le header                             */
/****************************************************/
header {
  height: 210px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}

/****************************************************/
/*styles pour la zone centrale de la page           */
/****************************************************/
main {
	margin: 0px;
	padding: 0px;
	min-height: 600px;
	background-color: #f0f0f0;
 	font-size: 0px;
 	margin-top: 200px;
 	margin-bottom: 200px;
}




/**********************************************************************/
/*styles pour la zone gauche de la zone centrale de la page           */
/**********************************************************************/
.gauche {
	display: inline-block;	
	background-color: #fff0f0;
	width: 20%;
	vertical-align: top;
	font-size: 15px;
}

/**********************************************************************/
/*styles pour la zone droite de la zone centrale de la page           */
/**********************************************************************/
.droite {
	display: inline-block;
	width: 80%;	
	font-size: 15px;
	vertical-align: middle;
}


/****************************************************/
/*styles pour le footer                             */
/****************************************************/
footer {
	background-color: grey;
	height: 100px;
	color: white;
	font-weight: bold;
	font-size: 15px;
}

footer p{
	padding: 15px;
	padding-top: 25px;
}

/****************************************************/
/*styles pour le logo de M2L                        */
/****************************************************/
.logo {
	display: inline-block;
	font-size: 50px;
	color: white;
	margin-left: 10px;
}


/****************************************************/
/*styles pour le bandeau                            */
/****************************************************/
.bandeau {
  height: 160px;
  background: linear-gradient(rgba(0, 0, 150, 0.5), rgba(0, 0, 200, 0.6)), url("../images/Bandeau.jpg");
}


/****************************************************/
/*styles pour le menu principal                     */
/****************************************************/
nav.menuPrincipal{
	background-color: black;
	font-size: 0px;
	text-align: right;
	height: 50px;
	padding: 0px;
	margin: 0px;
}

nav.menuPrincipal ul {
	display: inline-block;
	list-style: none;
}


nav.menuPrincipal ul li {
	display: inline-block;
	font-size: 20px;
	font-weight: bold;
	font-family: Helvetica;
}


nav.menuPrincipal ul li a {
	display: table-cell;
    text-decoration: none;
  	color: white;  
  	text-align: center;
  	vertical-align: middle;
  	height: 50px;
  	width: 140px;
}

nav.menuPrincipal ul li a:hover {
  color: grey;
}

nav.menuPrincipal ul li .actif {
	display: table-cell;
  	background-color: ivory;
  	color: black;
  	text-align: center;
  	vertical-align: middle;
  	height: 50px;
  	width: 140px;
}


/****************************************************/
/*styles pour le page d'accueil                     */
/****************************************************/ 
.texteAccueil {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 20px;
	font-size: 17px;
}

.texteAccueil h1{
	padding-top: 20px;
	padding-bottom: 20px;
	text-algn: center;
	text-align: center;
}

.texteAccueil p{
	padding-top: 20px;
	text-align: justify;
}
/****************************************************/
/*styles pour le page d'abonnement                     */
/****************************************************/ 

.texteAbonnement {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 20px;
	font-size: 20px;
	text-align: center;
}

.texteAbonnement h1{
	padding-top: 20px;
	padding-bottom: 20px;
	text-algn: center;
	text-align: center;
}

.texteAbonnement p{
	padding-top: 20px;
	text-align: justify;
}
.images {
	text-align: center;
	padding-top: 30px;
}
.images img{
	height: 150px;
	margin: 10px;
	padding-bottom: 100px;
}

/****************************************************/
/*styles pour la zone navigation gauche             */
/****************************************************/ 

a.anchor {
    display: block;
    position: relative;
    top: -200px;
    visibility: hidden;
}

.sidenav{
	position: fixed;
 	top: 200px;
 	left: 0px;
}

.sidenav .titreListe{
	color: black; 
	padding: 30px;
	font-weight: bold;
 	font-size: 22px; 
}
 
.sidenav ul{
  list-style: none;
  padding-left: 40px;
  font-size: 16px;
  line-height: 35px;
}

.sidenav li a {
  text-decoration: none;
  color: grey; 
}

.sidenav li a:hover {
  color: blue;
}

/****************************************************/
/*styles pour les rubriques de la zone droite       */
/****************************************************/ 
.articles{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 150px;		
}

.article .titre{
	color: blue;
	padding: 20px;
}

.article .corps{
	background-color: #b2ebf2; 
	text-align: justify;
	padding: 15px;
}

 .article .corps .col1{
	display: inline-block;
	width: 28%;
	vertical-align: middle;
}

.article .corps .col2{
	display: inline-block;
	width: 70%;
	vertical-align: middle;
}

.article .corps .col2 img{
	width: 100%;
}

/****************************************************/
/*styles pour les tableaux de la zone droite        */
/****************************************************/ 

.article .corps .tab{
	width: 100%;
	font-size: 0.8em;
	border: 1px solid blue;
	text-align: center;
}

.article .corps .tab thead{
	background-color: skyblue;
}

.article .corps .tab .pair{
	background-color: white;
}




.connexion .ligne input[type=submit]{
	display: inline-block;
	width: 150px;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
}





.contentContact{
	background-color: #f0f0f0;
 	font-size: 0px;
 	text-align: center;
 	vertical-align: middle;
 	padding: 150px;
 	padding-top : 2%;
}

.contact {
	display: inline-block;
	font-size: 15px;
	width: 100%;
	height: 100%;
	border: 1px solid black;
}

.contact .titre{
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	padding: 15px;
	background-color: skyblue;
	color: black;
}


.contact .ligne{
	padding: 15px;
	text-align: center;
}

.contact .ligne label{
	display: inlineblock;
	width: 150px;
	margin-left : 1%;
	text-align: right;
	padding-right: 10px;
	font-weight: bold;
	
}

.contact .ligne input{
	display: inline-block;
	width: 20%;
	margin-top : 3%;
}

.contact .ligne input[type=submit]{
	display: inline-block;
	width: 150px;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
}

#message{
	height : 200px;
	width : 90%;
	max-width : 90%;
}

#lblMessage{
	display : block;
	margin-top: 3%;
}

#sendmail{
	
}
/****************************************************/
/*styles pour les tableaux de la connexion      */
/****************************************************/ 
.box{
  width: 100%;
  padding: 40px;
  position: absolute;
  top: 200%;
  
  left: 50%;
  transform: translate(-50%,-50%);
  background: #191919;
  text-align: center;
  
}
.box h1{
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}
.box h2{
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}
.box h5{
 color: white;
 text-transform: uppercase;
 font-weight: 500;
}
.box input[type = "text"],.box input[type = "password"]{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 400px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}
.box input[type = "text"]:focus,.box input[type = "password"]:focus{
  width: 280px;
  border-color: #2ecc71;
}
.box input[type = "submit"]{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}
.box input[type = "submit"]:hover{
  background: #2ecc71;
}

.box label
{
	color: white;
}



